._NotfullHD {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.panel-body {
    word-wrap: break-word;
}

footer p {
    text-align: center;
}

ul li{
    list-style-type: none;
}