<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Navigation</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/user/ads">MyAds</a></li>
                <li><a href="#/user/ads/publish">Publish New Ad</a></li>
                <li><a href="#/user/editProfile">Edit Profile</a></li>
            </ul>
        </div>
    </div>
</div>